body {
  background-color: #111;
  color: white;
}

.card {
  background-color: #222;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

img {
  height: 250px;
  object-fit: cover;
}

.green { color: #00ff00; }
.orange { color: orange; }
.red { color: red; }

#favCount, #viewCount, #searchCount {
  color: yellow;
  font-size: 20px;
  font-weight: bold;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}